/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.searchjfx-text-field .input-line{
    -fx-background-color: transparent;
    
}
.searchjfx-text-field{
    -fx-background-color: linear-gradient(to top,#1dbbdd44,lightblue,lightgreen,#1dbbdd44);
    -fx-text-fill: darkblue;
    -fx-font-weight:bold;
    -fx-font-size:14pt;
}
.text-field{
    -fx-background-color: linear-gradient(to top,#1dbbdd44,lightblue,lightgreen,#1dbbdd44);
    -fx-text-fill: darkblue;
    -fx-font-weight:bold;
    -fx-font-size:12pt;
}
.jfx-button{
        -fx-background-color: linear-gradient(to top,#1dbbdd44, orange);
}
.jfx-button:hover{
    -fx-background-color: linear-gradient(to right,#1dbbdd44, lightgreen);
    }
.button{
        -fx-background-color: linear-gradient(to top,#1dbbdd44, orange);
}
.button:hover{
    -fx-background-color: linear-gradient(to right,#1dbbdd44, lightgreen);
    }
.searchjfx-button{
        -fx-background-color:  linear-gradient(to top,#1dbbdd44,lightblue,lightgreen,#1dbbdd44);
}
.searchjfx-button:hover{
    -fx-background-color:  linear-gradient(to top,#1dbbdd44,lightpink,lightyellow,#1dbbdd44);
 }
.labelpassfirst{
    -fx-text-fill:skyblue;
}
.labelpassfirst:hover{
    -fx-text-fill:derive(red,-40%);
    -fx-underline:true;
}
.labelpass{
    -fx-text-fill:darkblue;
}
.labelpass:hover{
    -fx-text-fill:derive(red,-40%);
    -fx-underline:true;
}
.check-box .box{
    -fx-background-color: royalblue;
    -fx-background-radius: 20;
}
.check-box:selected .box{
    -fx-background-color: skyblue;
}
.check-box:selected .mark{
    -fx-background-color: green;
}

.searchaadharjfx-text-field .input-line{
    -fx-background-color: transparent;
    
}
.searchaadharjfx-text-field{
    -fx-background-color: linear-gradient(to top,#1dbbdd44,lightblue,lightgreen,#1dbbdd44);
    -fx-prompt-text-fill:skyblue;
    -jfx-focus-color:darkblue;
    /*-jfx-unfocus-color:red;*/
    -fx-font-weight:bold;
    -fx-font-size:12pt;
    -fx-background-radius:20 0 0 20;
    -fx-padding:0 2 0 10;
}