

.mainFxmlClass{
    -fx-background-color: #FFFFE4;
}
*{
    -fx-primary:linear-gradient(to bottom,#D3F1D5, #FFFFE4);
    -fx-primary-rev:linear-gradient(to top,#D3F1D5, #FFFFE4);
}
.text-field{
    -fx-background-color: -fx-primary;
     -fx-border-color: #131313;
}
.button{
     -fx-background-color:linear-gradient(to top,#1dbbdd44, #FFFFE4);
     -fx-border-color: #000000;
}
.button:hover{
    -fx-background-color:linear-gradient(to right,#1dbbdd44, lightgreen);
}
.combo-box{
    -fx-background-color: -fx-primary-rev;
    -fx-border-color: #131313;
     
}
.combo-box .list-view{
    -fx-background-color: -fx-primary;
    
}
.combo-box .list-view .list-cell{
    -fx-background-color: -fx-primary;
    -fx-text-fill:darkblue;
}
.combo-box .list-view .list-cell:hover{
    -fx-background-color: linear-gradient(to bottom,#1dbbdd44, #93f9b944);
    -fx-text-fill: darkblue;
}
.combo-box .list-view .list-cell:selected{
    -fx-background-color: darkblue;
    -fx-text-fill: white;
}


               
