

.mainFxmlClass {

}
*{
	-fx-first-color: linear-gradient(to bottom,#1dbbdd44, #93f9b944);
	-fx-primary: linear-gradient(to bottom,#D3F1D5, #FFFFE4); 
}
.glyph-icon-filter{
    -fx-fill:derive(blue,-50%);
}
.glyph-icon-sortshow{
    -fx-fill:green;
}
.glyph-icon-sorthide{
    -fx-fill:derive(red ,-50%);
}

.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler{
    -fx-background-color: transparent;
}
.table-view .corner{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom,#1dbbdd44, #93f9b944);
    -fx-background-radius: 7.0px 7.0px 0.0px 0.0px;
}
.table-view .column-header{
    -fx-background-color: transparent;
    -fx-size:30.0pt;  /*size of header column*/
    -fx-font-size:10.0pt; /*size of text in header*/
     -fx-border-color: black;/*only for header border*/
     -fx-border-width: 0.5pt; /*header border width*/
     -fx-text-background-color: #131313;/*header text color*/
     -fx-font-style:italic; /*header text italic*/
     -fx-font-weight:bold;
}
.table-view .column-header .text{
    -fx-underline: true;  /*header text underline*/
}
.table-view .column-header:hover {
    -fx-text-background-color: darkblue;
}
.table-view .table-cell{
    -fx-background-color: transparent;
    /*-fx-padding: 2.0 0.0 2.0 10.0px;*/
}
.table-row-cell:hover{
    -fx-background-color: #93f9b911;
    -fx-text-background-color: royalblue;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom,#1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb{
    -fx-background-color: linear-gradient(to right,#1dbbdd44, #93f9b944);
}
.table-row-cell:highlighted{
    -fx-background-color: green;
    -fx-background-radius: 15.0px;
}
.table-row-cell{
    -fx-cell-size: 25.0px;
    -fx-font-weight:bold;
    -fx-font-size: 10.0pt;
 }
.table-row-cell:selected{
     -fx-background-color: #FFFFE4;
	-fx-text-background-color: derive(red,-30.0%);
}

 .firstandsecondanchorpane{
     -fx-background-color: #FFFFD9;
 }
 
 .radio-button .radio{
    -fx-border-color: #131313;
    -fx-border-radius: 15.0px;
    -fx-background-color: -fx-primary;
}
.radio-button  .radio .dot{
    -fx-background-color: derive(grey,40.0%);
}
.radio-button:selected .radio{
    -fx-background-color: -fx-first-color;
}
.radio-button:selected .radio .dot{
    -fx-background-color: green;
}
.radio-button:selected{
    -fx-text-fill: darkblue;
}

.jfx-date-picker  .text-field{
    -fx-text-fill:darkblue;
    -fx-background-color: lightgoldenrodyellow;
    /*-fx-background-insets: 5 -3 0 -3;*/
}
.jfx-date-picker {
    -fx-background-color: lightblue;
}
.jfx-date-picker .input-line{
    -fx-background-color: royalblue;
    -fx-background-insets: 1 3 0 3;
}

.jfx-time-picker{             /*custom creation*/
    -fx-background-color: lightblue;
}
.jfx-time-picker .label{
    /*-fx-text-fill:red;   color for clock label time */
}
.jfx-time-picker .text-field{
    -fx-text-fill:darkblue; 
    -fx-background-color: lightgoldenrodyellow;
}
.jfx-time-picker .input-line{
    -fx-background-color: royalblue;
    -fx-background-insets: 1 3 0 3;  /*(up right down left) ithil up -10 ennu kodutaal mukalileku kattiyulla vara undakunnadhu kaanam*/
}
.anchorpanesort{
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
    -fx-border-color: #191919;
    -fx-background-color: #FFFFD9;
}